body {
    background: url("https://js.pencdn.cz/acimage/w600-h330/316877.jpg") center/cover no-repeat fixed 
  }
 
body {
    font-family: Arial, sans-serif;
    color: rgb(12, 12, 12);
}

.container {
    max-width: 600px;
    
}

.btn-danger {
    color: #0a0a0a;
    background-color: #898884c5;
}

.form-check-label {
    margin-left: 5px;
    
    
    
}

.btn-danger:hover {
    color: #0e0e0e;
    background-color: #ef8944c5;
    
}

